@model ANA_ProjectDesigner.Models.AddProjectViewModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
    <link rel="stylesheet" type="text/css" href="~/css/projectTab.css">
</head>
<body>
    <div class="container">
        <h2>New Project</h2>
        <form  action="Add" method="post">
            <div class="button">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter project name">
            </div>
        
            <div>
                <label for="description">Description:</label>
                <input type="text" class="inputSize" id="description" name="description" placeholder="Enter project description">
            </div>

            <button type="submit" name="Submit" >Save</button>
        </form>
    </div>
</body>
</html>