body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3D3939 60%, #ECE0E0 40%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 50px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #1E1E1E;
    width: 60%;
}

label {
    display: block;
    text-align: left; /* Alignement à gauche pour les labels */
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    min-height: 5vh;
}

button {
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 20vh;
}

.button {
    margin-bottom: 5%
}

.inputSize {
    min-height: 15vh;
}
