



<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;

            text-align: center;
        }

        .header-section {
            height: 40vh; /* 40% de la hauteur de la vue */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            background-color: #3D3939; /* Couleur de fond */
            padding:2%
        }

        #welcome {
            color: white;
            font-size: 30px;
            font-weight: bold;
            align-items: safe center;
        }

        .main-section {
            height: 60vh; /* 60% de la hauteur de la vue */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            background-color: #ECE0E0;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        button {
            background-color: #3D3939; /* Rouge */
            color: white;
            font-size: 32px;
            width: 50vh;
            margin: 0 30px; /* Espacement entre les boutons */
            padding: 30px 35px;
            cursor: pointer;
            border: none;
            margin:2%;
            border-radius: 5px;
        }
    </style>

    <script>
        function redirectToProjectTab() {
            window.location.href = '@Url.Action("projectTab", "Project")';
        }

        function redirectToListProjects() {
            window.location.href = '@Url.Action("listProjects", "Project")';
        }
    </script>
</head>
<body>
    <div class="header-section">
        <img src="/images/Logo_Calendar.svg" alt="Illustration" />
        <p  id="welcome">Welcome to Project Designer !</p>
    </div>

    <div class="main-section">
        <button onclick="redirectToProjectTab()">Create a new project</button>
        <button onclick="redirectToListProjects()">Existing project</button>
    </div>
</body>
</html>

