    @model List<ANA_ProjectDesigner.Models.Domain.Projects>
    @{
    }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #3D3939 60%, #ECE0E0 40%);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .outer-container {
            background-color: #1E1E1E;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            width: 60%;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .inner-container {
            background: linear-gradient(0deg, #252323 0%, #252323 100%), #252323;
            padding: 20px;
            border-radius: 10px;
            overflow-y: auto; /* Ajout de la barre de défilement verticale si nécessaire */
            max-height: 50vh;
        }

        .project-list-item {
            padding: 10px;
            cursor: pointer;
            font-size: 24px;
            text-align: left;
            
            transition: background-color 0.3s, color 0.3s;
        }

            .project-list-item:hover {
                background-color: #555; /* Gris */
                color: white;
            }
    </style>
</head>
<body>
    <div class="outer-container">
        <h1>My Projects</h1>

        <div class="inner-container">
            <div class="project-list-item">OverView</div>
            @foreach (var project in Model)
            {
                <div class="project-list-item" onclick="redirectToController(@project.ProfileId)">@project.Name</div>
            }
            <!-- Ajoutez autant d'éléments que nécessaire -->
        </div>
    </div>

    <script>
        function redirectToController(projectID) {
            window.location.href = '@Url.Action("GoToProject", "Projects")?projectId=' + projectID;
        }
    </script>
</body>
</html>