@model ANA_ProjectDesigner.Models.AddProjectViewModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #3D3939 60%, #ECE0E0 40%);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            padding: 50px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: #1E1E1E;
            width: 60%;
        }

        label {
            display: block;
            text-align: left; /* Alignement à gauche pour les labels */
            margin-top: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            box-sizing: border-box;
            min-height: 5vh;
        }

        button {
            background-color: #ff0000;
            color: white;
            font-size: 16px;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            margin-top: 20px;
            width:20vh;
        }

        .button {
            margin-bottom:5%
        }

        .inputSize {
            min-height:15vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>New Project</h2>
        <form  action="Add" method="post">
            <div class="button">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter project name">
            </div>
        
            <div>
                <label for="description">Description:</label>
                <input type="text" class="inputSize" id="description" name="description" placeholder="Enter project description">
            </div>

            <button type="submit" name="Submit" >Save</button>
        </form>
    </div>
</body>
</html>